body {
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    height: 580px;
    min-height: 580px;
    max-height: 580px;
    overflow: hidden;
    background-image: url('/static/images/bitscrapeBackground.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}