{% extends "layout.html" %}

{% block body %}

<div class="navbar">
    <ul>
        <li><a href="/home"><i class="material-icons">arrow_back</i></a></li>
    </ul>
</div>

<div class="login-box">
    <form method="POST" action="/default">
        <input type="text" id="newUsername" name="newUsername" placeholder="New Username" value="{{ name }}">
        <input type="password" id="newPassword" name="newPassword" placeholder="New Password" value="{{ password }}">
        <input type="text" id="newEmail" name="newEmail" placeholder="New Email" value="{{ email }}">
        <input type="submit" formaction="/configure" value="Save">
        <div class="create-row">
            <button type="submit" formaction="/userDelete" class="create-btn">Delete Account</button>
        </div>
    </form>
</div>

{% endblock %}