{% extends "layout.html" %}

{% block body %}

<div class="navbar">
    <ul>
        <li><a href="/"><i class="material-icons">arrow_back</i></a></li>
    </ul>
</div>

<div class="agentCreate">
    <a href="/agentCreate"><button type="button" class="createAgent-btn"><i class="material-icons">add</i></button></a>
</div>

<div class="configure">
    <a href="/configure"><button type="button" class="configure-btn"><i class="material-icons">perm_identity</i></button></a>
</div>

<div class="agent-list">
    {% for agent in agents %}
        <div class="agent-box">
            <a href="{{ agent.url }}" target="_blank" rel="noopener noreferrer" class="agent-link">{{ agent.name }}</a>

            <form action="{{ url_for('agentSelect') }}" method="POST" class="agent-settings-form">
                <button type="submit" class="agent-btn" name="agentName" value="{{ agent.name }}">
                    <i class="material-icons">settings</i>
                </button>
            </form>
        </div>
    {% endfor %}
</div>

{% endblock %}