<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Bit Scrape</title>
</head>
<body>

    <div class="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    {% block body %}{% endblock %}

    <div class="logo-background"></div>

    <footer>
        <p>Bit-Scrape by Brenton Graham<br>
        <a href="mailto:carbonactual103@gmail.com">carbonactual103@gmail.com</a></p>
    </footer>

    
</body>
</html>